@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2698px;
  position: relative;
}

.home-page .overlap {
  position: absolute;
  width: 1440px;
  height: 570px;
  top: 196px;
  left: 0;
  background-color: #d9d9d9;
}

.home-page .text {
  position: absolute;
  top: 34px;
  left: 351px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .rectangle {
  position: absolute;
  width: 1440px;
  height: 345px;
  top: 2353px;
  left: 4px;
  background-color: #d9d9d9;
}

.home-page .text-wrapper {
  position: absolute;
  top: 842px;
  left: 546px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .group {
  position: absolute;
  width: 1440px;
  height: 196px;
  top: 0;
  left: 0;
}

.home-page .overlap-group-wrapper {
  width: 1446px;
  height: 196px;
}

.home-page .overlap-group {
  position: relative;
  width: 1440px;
  height: 196px;
  background-color: #ffffff;
}

.home-page .zara-logo-svg {
  position: absolute;
  width: 133px;
  height: 56px;
  top: 53px;
  left: 106px;
  object-fit: cover;
}

.home-page .navbar {
  display: inline-flex;
  align-items: center;
  gap: 146px;
  position: absolute;
  top: 153px;
  left: 106px;
}

.home-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-3 {
  left: 1237px;
  position: absolute;
  top: 83px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-4 {
  left: 1311px;
  position: absolute;
  top: 83px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-5 {
  position: absolute;
  top: 83px;
  left: 1138px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .iconamoon-profile {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 41px;
  left: 1143px;
}

.home-page .mdi-light-heart {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 41px;
  left: 1223px;
}

.home-page .ph-bag-thin {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 41px;
  left: 1298px;
}

.home-page .group-2 {
  position: absolute;
  width: 280px;
  height: 43px;
  top: 131px;
  left: 1054px;
}

.home-page .material-symbols {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 244px;
}

.home-page .line {
  position: absolute;
  width: 280px;
  height: 1px;
  top: 42px;
  left: 0;
  object-fit: cover;
}

.home-page .frame {
  top: 941px;
  display: inline-flex;
  align-items: center;
  gap: 44px;
  position: absolute;
  left: 106px;
}

.home-page .component {
  position: relative;
  width: 274px;
  height: 503px;
}

.home-page .image {
  position: absolute;
  width: 274px;
  height: 390px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.home-page .text-wrapper-6 {
  position: absolute;
  top: 434px;
  left: 0;
  font-family: "Helvetica Neue-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-7 {
  position: absolute;
  top: 458px;
  left: 0;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-8 {
  position: absolute;
  top: 486px;
  left: 0;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .text-wrapper-9 {
  position: absolute;
  top: 434px;
  left: 235px;
  font-family: "Helvetica Neue-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .img {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 402px;
  left: 248px;
}

.home-page .ellipse {
  left: 0;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 402px;
  background-color: #d9d9d9;
  border-radius: 10.5px;
}

.home-page .ellipse-2 {
  left: 28px;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 402px;
  background-color: #d9d9d9;
  border-radius: 10.5px;
}

.home-page .ellipse-3 {
  left: 56px;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 402px;
  background-color: #d9d9d9;
  border-radius: 10.5px;
}

.home-page .ellipse-4 {
  left: 84px;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 402px;
  background-color: #d9d9d9;
  border-radius: 10.5px;
}

.home-page .frame-2 {
  top: 1666px;
  display: inline-flex;
  align-items: center;
  gap: 44px;
  position: absolute;
  left: 106px;
}

.home-page .text-wrapper-10 {
  position: absolute;
  top: 1567px;
  left: 475px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
